{% extends "base.html" %}

{% block content %}
 

	

	<div class="container">

        <!-- Projects Row -->
        <div class="row">
	   <h2> Author's Name: {{ author.name }}</h2>


	    {% if author.short_description %}
		  <h3> Short Introduction:</h3>
	        <div class="intro-text"> {{ author.short_introduction }}</div>
		   <br />
	    {% endif %}
	    
	    {% if author.email %}
		    <h3> Author's Email: {{ author.email }}</h3>
		{% endif %}
		
		<br/>
		<br/>
		<h2> Author Posts <h2>

            {% if related_articles %}
            {% for post in related_articles %}
            <div class="col-md-4 portfolio-item" >
                {% if post.photo %}
                <a href="/media/{{post.photo}}">
                    <img class="img-responsive" src= "/media/{{post.photo}}"  alt="">
                </a>
                {% endif %}
                <h3>
                    <a href="{{post.get_absolute_url}}">{{post.title|upper}}</a>
                </h3>
                <p>{{post.body|safe|truncatewords:50}}</p>
            </div>
            
            {% endfor%}
            {% else %}
            <p> there are no post </p>
            {% endif%}
        </div>
        <!-- /.row -->

        <hr>

        <!-- Pagination -->
        <div class="row text-center">
         <div class="col-lg-12">
            <div class="pagination">
    				<span class="step-links">
        				{% if page.has_previous %}
				            <a href="?page={{ page.previous_page_number }}">previous</a>
				        {% endif %}

				            <span class="current">
				                Page {{ page.number }} of {{ page.paginator.num_pages }}.
				            </span>

				        {% if page.has_next %}
				             <a href="?page={{ page.next_page_number }}">next</a>
				        {% endif %}
				    </span>
           </div>
         </div>
        </div>
        <!-- /.row -->

        <hr>


{% endblock %}